* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
div.wrapper {
  width: 100%;
}
div.wrapper > div.header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 500;
}
div.wrapper > div.header > img {
  width: 100%;
  height: 60px;
}
div.wrapper > div.searchbox {
  width: 100%;
  height: 50px;
  display: flex;
  direction: rtl;
  position: sticky;
  top: 60px;
  z-index: 500;
  background-color: white;
}
div.wrapper > div.searchbox > div.logo {
  width: 10%;
  height: 50px;
  cursor: pointer;
}
div.wrapper > div.searchbox > div.logo > img {
  margin: 0 15px;
  margin-top: 8px;
}
div.wrapper > div.searchbox > div.search {
  width: 43.5%;
  height: 50px;
  position: relative;
}
div.wrapper > div.searchbox > div.search > input {
  width: 90%;
  height: 43.5px;
  margin-top: 2px;
  padding-right: 58px;
  padding-bottom: 3px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(52, 52, 52);
  font-weight: 600;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}
div.wrapper > div.searchbox > div.search > i {
  position: absolute;
  padding-top: 16.3px;
  padding-right: 19px;
  color: rgb(135, 135, 135);
  cursor: pointer;
}
div.wrapper > div.searchbox > div.shahr {
  width: 10%;
  height: 50px;
  margin-right: 28%;
}
div.wrapper > div.searchbox > div.shahr > a > p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  border: 1px solid rgb(162, 162, 162);
  margin: 2px;
  padding-bottom: 15px;
  padding-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}
div.wrapper > div.searchbox > div.kht {
  width: 5px;
  height: 50px;
  margin-right: 15px;
}
div.wrapper > div.searchbox > div.kht > p {
  text-align: center;
  margin-top: 8px;
  font-weight: 600;
}
div.wrapper > div.searchbox > div.icon {
  width: 5%;
  height: 50px;
  margin-right: 10px;
}
div.wrapper > div.searchbox > div.icon > i {
  color: rgb(54, 54, 54);
  margin-right: 26px;
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
}
div.wrapper > div.menu {
  width: 100%;
  height: 48px;
  display: flex;
  direction: rtl;
  box-shadow: 1px 1px rgb(122, 122, 122);
}
div.wrapper > div.menu > div.right {
  width: 75%;
  height: 48px;
}
div.wrapper > div.menu > div.right > nav {
  width: 100%;
  height: inherit;
}
div.wrapper > div.menu > div.right > nav > ul {
  width: inherit;
  height: inherit;
}
div.wrapper > div.menu > div.right > nav > ul > li {
  display: inline-block;
  line-height: 40px;
  margin: 0 10px;
}
div.wrapper > div.menu > div.right > nav > ul > li > a {
  color: rgb(151, 151, 151);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
div.wrapper > div.menu > div.right > nav > ul > li > a > h1 {
  font-size: 18px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div.wrapper > div.menu > div.right > nav > ul > li > i {
  color: rgb(151, 151, 151);
  font-size: 14px;
  cursor: pointer;
}
div.wrapper > div.menu > div.left {
  width: 20%;
  height: 48px;
  margin-right: 55px;
  position: relative;
}
div.wrapper > div.menu > div.left > p {
  text-align: end;
  margin-top: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(35, 35, 35);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  padding-right: 3px;
}
div.wrapper > div.menu > div.left > p > i {
  font-size: 18px;
  padding-left: 10px;
  color: rgb(35, 35, 35);
}
div.wrapper > div.menu > div.left > div.z-menu {
  width: 60%;
  height: 48px;
  background-color: rgb(72, 72, 114);
  border-radius: 5px;
  margin-left: 10px;
  display: none;
  margin-top: 15px;
  margin-right: 120px;
  cursor: pointer;
  z-index: 500;
  position: absolute;
}
div.wrapper > div.menu > div.left:hover > div.z-menu {
  display: block;
}
div.wrapper > div.menu > div.left > div.z-menu > p {
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-top: 15px;
}
div.wrapper > div.menu > div.right > div.s-menu {
  width: 105%;
  height: 600px;
  background-color: blue;
  direction: rtl;
}
div.wrapper > div.box {
  width: 95%;
  height: 130px;
  display: inline-block;
  vertical-align: top;
  direction: rtl;
  margin-left: 55px;
  margin-top: 10px;
}
div.wrapper
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.child {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: 5px;
  margin: 0 auto;
  padding: 3px;
  border: 2.5px solid #a2479b;
}
div.wrapper
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.child
  > img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
div.wrapper > div.box > div.swiper > div.swiper-wrapper > div.swiper-slide > p {
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(59, 59, 59);
  margin-top: 5px;
  font-weight: 500;
}
div.wrapper > div.slider {
  width: 100%;
  height: 450px;
  margin-top: 8px;
  cursor: pointer;
}
body {
  position: relative;
  height: 100%;
}
body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.wrapper > div.shegeft {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
}
div.wrapper > div.shegeft > div.box {
  width: 90%;
  height: 300px;
  background-color: #ff0000;
  margin: 0 auto;
  border-radius: 20px;
  direction: rtl;
  padding: 10px;
}

div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.pictop {
  background-color: red;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.pictop
  > img {
  width: 90px;
  height: 90px;
  margin: 15px 35px;
  cursor: pointer;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > span {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-left: 130px;
  background-color: rgb(190, 28, 28);
  border-radius: 20px;
  padding: 3.5px;
  color: #fff;
  margin-top: 20px;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-right: 55px;
  margin-top: -20px;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.p
  > h4 {
  width: 50px;
  height: 15px;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 75px;
  color: #b4b4b4;
  text-decoration: line-through;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.pictop01
  > img {
  cursor: pointer;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.picbuten {
  width: 100px;
  height: 100px;
  margin: 45px 35px;
  cursor: pointer;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.picbuten
  > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
div.wrapper
  > div.shegeft
  > div.box
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.picbuten
  > img {
}
.frist {
  background-color: transparent;
}
.right-r {
  border-radius: 0 10px 10px 0;
}

div.wrapper > div.off > div.off01 > div.rdi {
  width: 155px;
}
div.wrapper > div.dll {
  width: 100%;
  height: 300px;
  margin-top: 25px;
  display: inline-block;
  vertical-align: top;
}
div.wrapper > div.dll > div.bbmk {
  width: 95%;
  height: 300px;
  margin: 0 auto;
}
div.wrapper > div.dll > div.bbmk > img {
  width: 24.75%;
  height: 300px;
  border-radius: 20px;
  cursor: pointer;
}
div.wrapper > div.mobail {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
div.wrapper > div.mobail > div.top {
  width: 25%;
  height: 60px;
  margin: 0 auto;
}
div.wrapper > div.mobail > div.top > h1 {
  text-align: center;
  padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}
div.wrapper > div.mobail > div.blal {
  width: 90%;
  height: 140px;
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 85px;
}
div.wrapper > div.mobail > div.blal > div.child01 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 40px;
  cursor: pointer;
}
div.wrapper > div.mobail > div.blal > div.child01 > img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
div.wrapper > div.mobail > div.blal > div.child01 > p {
  color: #3a3a3a;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
div.wrapper > div.mobail > div.paiin {
  width: 90%;
  height: 140px;
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 85px;
}
div.wrapper > div.mobail > div.paiin > div.child01 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 40px;
  cursor: pointer;
}
div.wrapper > div.mobail > div.paiin > div.child01 > img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
div.wrapper > div.mobail > div.paiin > div.child01 > p {
  color: #3a3a3a;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
div.wrapper > div.m {
  width: 100%;
  height: 250px;
  margin-top: 25px;
}
div.wrapper > div.m > div.picc {
  width: 95%;
  height: 250px;
  margin: 0 auto;
  display: flex;
}
div.wrapper > div.m > div.picc > img {
  width: 49.2%;
  height: 250px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

div.wrapper > div.slid {
  width: 85%;
  height: 250px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}
div.wrapper > div.slid > h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  margin-top: 20px;
}
div.wrapper > div.slid > div.slider {
  width: 100%;
  height: 130px;
  margin-top: 30px;
  direction: rtl;
}
div.wrapper
  > div.slid
  > div.slider
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide {
  border-left: 1px solid rgb(212, 212, 212);
}
div.wrapper > div.digiplus {
  width: 90%;
  height: 410px;
  background-color: #941b80;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 20px;
  display: flex;
}
div.wrapper > div.digiplus > img {
  width: 350px;
  height: 350px;
  margin: 15px;
  cursor: pointer;
  margin-left: 70%;
  margin-top: 30px;
  cursor: pointer;
}
div.wrapper > div.plus {
  width: 60%;
  height: 350px;
  margin-top: -26%;
  margin-left: 85px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
}
div.wrapper > div.plus > div.top {
  width: 100%;
  height: 130px;
  margin-top: 15px;
}
div.wrapper > div.plus > div.top > img {
  width: 130px;
  height: 130px;
  margin: 0 7px;
  cursor: pointer;
}

div.wrapper > div.plus > div.bottem {
  width: 100%;
  height: 130px;
  margin-top: 15px;
}
div.wrapper > div.plus > div.bottem > img {
  width: 130px;
  height: 130px;
  margin: 0 7px;
  cursor: pointer;
}
div.wrapper > div.plus > h1 {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  padding: 0 40px;
  padding-top: 20px;
  cursor: pointer;
}
div.wrapper > div.plus > p {
  position: absolute;
  margin-top: -20px;
  margin-left: 45px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #941b80;
  cursor: pointer;
}
div.wrapper > div.plus > i:nth-of-type(1) {
  position: absolute;
  margin-left: 96%;
  margin-top: -20px;
  color: #941b80;
  font-size: 20px;
}
div.wrapper > div.digiclub {
  width: 90%;
  height: 95px;
  background-color: #007295;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  position: relative;
}
div.wrapper > div.digiclub > div.img {
  width: 11.5%;
  height: 40px;
  margin-top: 25px;
  margin-left: 85%;
  cursor: pointer;
  position: absolute;
}
div.wrapper > div.digiclub > div.box {
  width: 20.3%;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 15px;
}
div.wrapper > div.digiclub > div.box > img {
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
}
div.wrapper > div.digiclub > div.box > p {
  margin-left: 180px;
  margin-top: -45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
.left-r {
  border-radius: 0 10px 10px 0;
}
.right-r {
  border-radius: 10px 0 0 10px;
}
div.wrapper > div.brand {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
div.wrapper > div.brand > h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  font-size: 23px;
}
div.wrapper > div.acs {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid rgb(211, 211, 211);
  margin-top: 20px;
}
div.wrapper > div.acs > div.top {
  width: 100%;
  height: 150px;
  display: flex;
  border-bottom: 1px solid rgb(211, 211, 211);
}
div.wrapper > div.acs > div.top > div.ff {
  width: 14%;
  height: 150px;
  margin: 0 5px;
  border-right: 1px solid rgb(211, 211, 211);
}

.noborder {
  border: none !important;
}

div.wrapper > div.acs > div.top > div.ff > div.img {
  width: 90px;
  height: 90px;
  background-color: rgb(197, 197, 197);
  border-radius: 50px;
  margin: 0 30px;
  margin-top: 10px;
}
div.wrapper > div.acs > div.top > div.ff > div.img > img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 0 auto;
  cursor: pointer;
}
div.wrapper > div.acs > div.top > div.ff > p {
  text-align: center;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
div.wrapper > div.acs > div.botemm {
  width: 100%;
  height: 150px;
  display: flex;
}
div.wrapper > div.acs > div.botemm > div.hh {
  width: 14%;
  height: 150px;
  margin: 0 5px;
  border-right: 1px solid rgb(211, 211, 211);
}
div.wrapper > div.acs > div.botemm > div.hh > div.img {
  width: 90px;
  height: 90px;
  background-color: rgb(197, 197, 197);
  border-radius: 50px;
  margin: 0 30px;
  margin-top: 10px;
}
div.wrapper > div.acs > div.botemm > div.hh > div.img > img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 0 auto;
  cursor: pointer;
}
div.wrapper > div.acs > div.botemm > div.hh > p {
  text-align: center;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
div.wrapper > div.h > hr {
  margin-top: 50px;
}
div.wrapper > div.fother {
  width: 100%;
  height: 60px;
  margin-top: 30px;
}
div.wrapper > div.fother > div.logo {
  width: 12%;
  height: 55px;
  margin-left: 86%;
}
div.wrapper > div.fother > div.logo > img {
  margin: 10px;
  margin-left: 38px;
  cursor: pointer;
}
div.wrapper > div.fother > div.submit {
  width: 10%;
  height: 40px;
  border: 1px solid rgb(197, 197, 197);
  margin-top: -55px;
  margin-left: 50px;
  border-radius: 10px;
  cursor: pointer;
}
div.wrapper > div.fother > div.submit > p {
  text-align: center;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: rgb(153, 153, 153);
  margin-top: 8px;
}
div.wrapper > div.tel {
  width: 100%;
  height: 20px;
  direction: rtl;
}
div.wrapper > div.tel > p {
  margin-right: 20px;
  color: #9c9c9c;
}
div.wrapper > div.ee {
  width: 100%;
  height: 200px;
  display: flex;
}
div.wrapper > div.ee > div {
  width: 20%;
  height: 150px;
  margin: 0 10px;
  margin-top: 20px;
  padding-left: 90px;
  padding-top: 30px;
}
div.wrapper > div.ee > div > img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  cursor: pointer;
}
div.wrapper > div.ee > div > P {
  font-size: 15px;
  font-weight: 500;
  color: rgb(184, 184, 184);
  margin-left: -30px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
div.wrapper > div.ll {
  width: 100%;
  height: 400px;
  margin-top: 5px;
  display: flex;
}
div.wrapper > div.ll > div {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  direction: rtl;
  padding-right: 15px;
  padding-top: 10px;
}
div.wrapper > div.ll > div > h1 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
div.wrapper > div.ll > div > ul > li {
  color: #a3a3a3;
  margin-top: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
div.wrapper > div.ll > div > img {
  margin-top: 15px;
  margin-left: 5px;
  cursor: pointer;
}
div.wrapper > div.ll > div > p {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
div.wrapper > div.ll > div > input {
  margin-top: 10px;
  width: 80%;
  height: 45px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: #f0f0f1;
  border: 1px solid #f0f0f1;
  border-radius: 10px;
}
div.wrapper > div.ll > div > div.sabt {
  width: 25%;
  height: 50px;
  background-color: #8e8e8e;
  margin-right: 235px;
  margin-top: -47px;
  border: 1px solid #f0f0f1;
  border-radius: 5px;
}
div.wrapper > div.ll > div > div.sabt > p {
  text-align: center;
  margin-top: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
div.wrapper > div.pin {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  left: 80px;
  z-index: 500;
}
div.wrapper > div.pin > img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin: 0 auto;
}
